.hidden {
	display: none;
}

html, body {
	height: 100%;
	margin: 0;
	min-height: 18em;
	padding: 0;
	font: 100%/1.5 Arial, sans-serif;
}

.masthead {
	min-height: 4em;
}

h1 {
	font: bold 2em/1 Arial, sans-serif;
	margin: 0;
	padding: 0.5em;
}

.col {
	float: left;
	height: 100%;
	margin-top: -4em;
	width: 50%;
}

.in-container, #out-container {
	position: relative;
	height: 26em;
	height: -moz-calc( 100% - 8em );
	height: -webkit-calc( 100% - 8em );
	height: calc( 100% - 8em );
	margin-bottom: 0.25em;
}

.in-container, #info, #out-container, #error-container {
	margin-top: 4em;
	margin-left: 1em;
}

#info, #out-container, #error-container {
	margin-right: 1em;
}

#out-container p {
	position: absolute;
	top: -2em;
	margin: 0;
}

#in, #options, #out {
	height: 99%;
	width: 99%;
	box-sizing: -moz-border-box;
	box-sizing: border-box;
}

#options-btn.active {
	font-weight: bold;
}

#go {
	float: right;
	font-size: 1.2em;
	font-weight: bold;
}

pre {
	word-wrap: break-word;
	overflow-wrap: break-word;
}

#error {
	background: #fff0f0;
	border-left: 0.5em solid #c00;
	padding: 0.5em 0.5em 0.5em 1em;
}

mark {
	background: #fc0;
	color: #000;
	padding: 0.3em;
	border-radius: 0.3em;
	font-weight: bold;
}
